/* navigation */

#nav {
  text-align: right;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

#nav li a {
  color: gray;
  padding: 5px; 
  text-decoration: none; 
}

#nav a:hover {
/*  color: #e15733;*/
  color: black;
  background-color: #afae6b;
}

.current {
  color: black !important;  
}

/* images */

.header_top { 
  width: 100%;
  float: left; 
  position: relative; 
  height: 75px;
} 

.header_bottom { 
  width: 100%;
}

.dna {
  position: absolute; 
  top: 0; 
  right: 0;
  height: 100px;
}

.mbl_logo {
  position: absolute; 
  top: 0; 
  left: 0;
  height: 90px;
}

.stamps-logo {
  width: 120%;
  padding-top: 20px; 
  padding-left: 20px;
}

/* table */

table#res_table
{
  border-collapse: collapse;
  empty-cells: show; 
  margin-top: 10px;
}

#res_table table, th, td
{
  border: 1px solid;
  padding: 0.5em;
}

/* colored cells, not used for now */

.dark_grey {
  background: #9f9f9f;
}

.light_grey {
  background: #cbcbcb;
}

.green {
  background: #d6ffd6;
}

.purple {
  background: #d7a9fe;
}


/* left-menu */

#sidebar ul
{
  list-style-image: url('/images/dot.gif');
  margin-top: 0px; 
  margin-bottom: 0px; 
  padding-bottom: 2px; 
  padding-top: 2px;
  padding-left: 25px;
}

.sub-list {
  background-color: #395D8D;
}

.side-title {
  color: #395D8D;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 5px; 
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: bold;
}

a.side-link {
  color: #E0E0E0;
  font-size: 16px;
  text-decoration: none; 
}

a:hover.side-link {
/*  color: #e15733;*/
  color: black;
  background-color: #afae6b;
  font-size: 16px;
  text-decoration: none; 
}

/* other */

#home-text {
  padding: 0px;
  margin: 0px;
  text-align: justify;
}

#right-part {
  text-align: center;
}

